$font-stack: Helvetica, arial, sans-serif;
$light-color:	#f3f3f3;
$dark-color:	#333;
$grey-color: #666;

@import 'reset';

@mixin flex($atr) {
	display: -webkit- + $atr;
	display: $atr;
}

/* Global */
body {
  font: 100% $font-stack;
  background-color: $light-color;
}
header,
footer {
  background-color: $dark-color;
}
em {
    font-style: italic;
}
/* header menu */
nav {
	@include flex(flex);
	border: 0;
	padding: 0;
	ul {
		@include flex(inline-flex);
		margin: 0;
		padding: 0;
		align-items: center;
    width: calc(100% - 220px);
    list-style: none;
	}
	li {
		margin: 0;
		padding: 1em;
		flex: 1;
    text-align: center;
	}
	a {
		text-decoration: none;
		color: $light-color;
	}
	span {
    padding: 1em 2em;
    width: 220px;
    text-align: center;
    background-color: $light-color;
    color: $grey-color;
    font-weight: 600;
	}
}
/* Main section */
#main {
  background-color: $light-color;
}
/* footer section */
footer {
	display: block;
	h4 {
		font-size: 1.2em;
		color: $light-color;
		text-align: center;
	}
}
.grid {
	@include flex(flex);
	border: 0;
	padding: 0;

	aside {
		flex: 1;
		h5 {
			text-align: center;
			color: $light-color;
		}
		ul, ol {
			width: auto;
			margin: 0 auto;
		}
		ul {
			list-style-type: disk;
		}
	}
}